body{
	text-align:center;
	border: solid  2px;
	width: 300px;
	height:300px;	
	margin-left:550px;
	padding-top: 20px;
	font-family: Lobster;
	margin-top: 50px;
	
}
.bt{
	margin:12px;
	height:30px;
	font-size:17px;
}	
#vis{
	background-color:#22ffff;
}

h1{
	font-size: 30px;
	padding: 15px;
	
}