<!doctype html>
<html ng-app="myApp">
	<head lang="pt/br">
		<title>Calculadora Web</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href=../reset.css>
		<link rel="stylesheet" type="text/css" href="../css/calc.css">		
		<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
		<script>
			angular.module("myApp", [] );
			angular.module("myApp").controller("controle", function($scope) {
				$scope.var= "0";
				$scope.button = function(num){
					if($scope.var == "0"){
						$scope.var="";
					}
						$scope.var += num ;
				}	
				$scope.limpar = function(){
						$scope.var = "0";
					}
				$scope.cc = function(){
					$scope.var = eval($scope.var);
				}
			});
		</script>
	</head>
	<body ng-controller="controle">
		<header class="contI">
			<h1>Calculadora</h1>
			<input type="text" size="30px" ng-model="var" id="vis">	
		</header>
		<section class="contM">
			<form>
				<input type="button" name="op" value="9" ng-click="button(9)" class="bt">
				<input type="button" name="op" value="8" ng-click="button(8)" class="bt">
				<input type="button" name="op" value="7" ng-click="button(7)" class="bt">
				<input type="button" name="op" value="6" ng-click="button(6)" class="bt">
				<input type="button" name="op" value="5" ng-click="button(5)" class="bt">
				<input type="button" name="op" value="4" ng-click="button(4)" class="bt">
				<input type="button" name="op" value="3" ng-click="button(3)" class="bt">
				<input type="button" name="op" value="2" ng-click="button(2)" class="bt">
				<input type="button" name="op" value="1" ng-click="button(1)" class="bt">
				<input type="button" name="op" value="0" ng-click="button(0)" class="bt">			
				<input type="button" name="op" value="+" ng-click="button('+')" class="bt"> 
				<input type="button" name="op" value="-" ng-click="button('-')" class="bt">
				<input type="button" name="op" value="*" ng-click="button('*')" class="bt">
				<input type="button" name="op" value="/" ng-click="button('/')" class="bt">
				<input type="button" name="op" value="=" ng-click=" cc()" class="bt">
	    		<input type="button" name="op" value="C" ng-click="limpar()" class="bt">
			</form>	
		</section>	
 	</body>
</html>